#log-in-btn {
  margin-top: 25px;
}
.top-bar-right a {
  margin-top: 20px;
}
#container h3 {
  margin: 10px 20px 10px 20px;
}
#container .cell {
  margin: 20px;
  border: 1px solid lightgray;
  padding: 10px;
}
#container .cell a {
  color: white;
  padding: 10px;
  margin: 5px;
  background-color: #1779ba;
  display: inline-block;
}
#container .cell p {
  margin-bottom: 5px;
}
#container .cell p.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
#container .cell p span {
  display: inline-block;
  transform: translateY(25%);
}
#container .grid-container {
  width: auto;
  max-width: 100%;
  justify-content: space-between;
}
#container .grid-x {
  justify-content:center;
}
.home-page-content-wrapper {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
}
#container .grid-container {
  margin: 10px;
}
.lightgray {
  color: lightgray;
}
.blog-short-content {
  height: 100px;
  overflow: hidden;
  margin: 5px;
  padding: 0;
  text-overflow: ellipsis;
}
aside.authors {
  width: auto;
  min-width: 200px;
  margin-right: 100px;
}
aside.authors ul {
  list-style: none;
}
#comment-txt {
  resize: vertical;
  max-height: 300px;
}
.hidden {
  visibility: hidden;
  padding: 5px;
}
.red {
  color: red;
}
.logged-in-name {
  margin: 30px;
}
#log-out-btn {
  margin-top: 20px;
  margin-left: 15px;
}
#save-blog-post-changes-btn {
  margin: 15px;
  margin-left: calc(100% - 160px);
  width: 150px;
}
.comment-container {
  width: 100%;
  position: relative;
}
.comment-column {
  width: auto;
  display: inline-block;
}
.comment-column.avatar {
  width: 120px;
  padding: 15px;
}
.comment-column.avatar img {
  width: 80px;
  height: 80px;
}
.comment-row {
  width: 100%;
  position: relative;
}
.comment-menu {
  margin: 0 15px 3px 15px;
  display: inline-block;
  text-align: center;
  vertical-align: bottom;
}
.comment-hide-btn {
  background: url('/assets/img/hide-icon.png');
  background-size: contain;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.comment-delete-btn {
  background: url('/assets/img/delete-icon.png');
  background-size: contain;
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.blog-post-comments h4 {
  margin-left: 20px;
}
.notification {
  width: 500px;
  height: auto;
  position: fixed;
  z-index: 100;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
  background-color: #3adb76;
  font-weight: bold;
  padding: 20px;
  border-radius: 20px;
  color: black;
  text-shadow: 1px 1px #FFFFFF;
}
#post-content {
  resize: vertical;
  max-height: 400px;
}
.button {
  min-width: 100px;
  border-radius: 20px;
  padding-top: 12px;
}
.home-page-content-wrapper .callout * {
  font-size: 16px;
}
.logo-link:hover {
  color: #1779ba;
}
.inline-block {
  display: inline-block;
}
.search-menu .button {
  border-radius: 0;
}
.thumbnail {
  width: 345px;
  height: 220px;
  object-fit: cover;
}
.pagination {
  text-align: center;
  margin: 10px;
}
.cell {
  width: 370px !important;
  height: auto !important;
}
#blog-post-container .cell {
  width: 66.66667% !important;
}
#selected-file-name {
  vertical-align: super;
}
#blog-post-container .thumbnail {
  width: 100%;
  height: auto;
}
.left-padd-15 {
  margin-left: 15px;
}
